[Unit]
Description=opendaylight
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
PermissionsStartOnly=true
ExecStartPre=-/usr/bin/docker kill opendaylight
ExecStartPre=-/usr/bin/docker rm opendaylight
ExecStartPre=/usr/bin/docker load -i /docker_images/opendaylight_docker.tar
ExecStart=/usr/bin/docker run -p 1088:1088 -p 12001:12001 -p 2400:2400 -p 7800:7800 -p 8080:8080 -p 8383:8383 -p 1830:1830 -p 5666:5666 -p 6633:6633 -p 8000:8000 --name opendaylight 533a3be7bb5c
ExecStop=/usr/bin/docker stop opendaylight
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target